body
{
	/*background-image:  url("/images/bg.gif");*/
	color: #333;
}

body, p, ol, ul, td{
	/*font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;*/
}

pre{
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td, table th{
    font-size: 12px;
    border: 1px solid #DEDFDE;
    padding: 0 2px 1px 0;
}

.layout {
    padding: 9px;
}

.layout-td {
    border: 0px;
}

table th
{
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    /*background-color: #E79969;*/
    border-width: 1px;
    border-style: solid;
    color: #fff;
}
table td {
    font-size: 12px;
}

table tr.alt td
{
    font-size: 12px;
    color: #000;
    background-color: #EAF2D3;
}

.fieldWithErrors
{
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation
{
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2
{
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p
{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li
{
	font-size: 12px;
	list-style: square;
}
