#diaglogtop{ background-repeat:no-repeat; background-position:-4px -5px; width:100%; height:30px;}
#closeDiaglog{  position:absolute; right:2px;*right:200px;}
#diaglogMid{ min-height:230px; width:100%;text-align:center;  padding-top:5px; background-color:#eee;}
#diaglogButtom{ height:50px; background-color:#eee;}
#btnSubmit{ margin-left:190px; margin-top:10px; width:90px; cursor:pointer;}
#diaglogMid #sbox_search { margin:0px auto; line-height:20px; height:50px;  width:80%; border:1px solid #999;  padding:5px;}
#diaglogMid #sbox_search .txt{ width:100%;}
#diaglogMid #sbox_search  span,#diaglogMid #sbox_total{ height:20px; float:none; color:#ff0000; font-family:"宋体"; font-size:12px;}
#diaglogMid #sbox_search .act input{ margin-right:10px;}

#diaglogMid #sbox_total{ display:block; margin-top:10px;}

#diaglogMid #sbox_items #item_list { text-align:left; width:200px; height:150px; overflow-y:scroll; border:2px inset; margin:0px auto;}
#diaglogMid #sbox_items #item_list div{ cursor:pointer;}
#diaglogMid #sbox_items #item_list div.sel{ background-color:#0000ff; color:#fff;}

#diaglogMid #sbox_cats .prt_cids,#diaglogMid #sbox_cats .sec_cids,#diaglogMid #sbox_cats .brands,#sbox_cats .ProdctSerBySubCatsSNBrandSN{ width:100%; height:auto; overflow:hidden; padding:5px; font-size:14px; font-weight:normal; text-align:left;}
#diaglogMid #sbox_cats DIV .left,#diaglogMid #sbox_cats .sec_cids .left{ float:left; font-size:14px; font-weight:bold; }
#diaglogMid #sbox_cats DIV .right,#diaglogMid #sbox_cats .sec_cids .right{ float:right; width:85%;}
#diaglogMid #sbox_cats DIV .right .cs,#diaglogMid #sbox_cats .sec_cids .right .cs{ width:80%; float:left;}
#diaglogMid #sbox_cats DIV .right .cs span,#diaglogMid #sbox_cats .sec_cids .right .cs span{ font-weight:normal; cursor:pointer;}
#diaglogMid #sbox_cats DIV .right .cs span.sel,#diaglogMid #sbox_cats .sec_cids .right .cs span.sel{ font-weight:bold; color:#0000ff;}
#diaglogMid #sbox_cats DIV .right .ms,#diaglogMid #sbox_cats .sec_cids .right .ms{ width:18%; float:right; cursor:pointer; text-decoration:underline;}
#diaglogMid #sbox_cats DIV span,#diaglogMid #sbox_cats .sec_cids span{ margin:0px 3px;}
#diaglogtop .DialogTopPon,#diaglogtop .DialogTopMiddle{ width:7px; height:100%; float:left;}
#diaglogtop .DialogTopMiddle{ width:486px;  background-image:url("../images/diaglog/pic_006.png");  background-repeat:repeat-x;}
#diaglogtop #left{ background-image:url("../images/diaglog/pic_005.png"); background-repeat:no-repeat;}
#diaglogtop #right{ background-image:url("../images/diaglog/pic_007.png"); background-repeat: no-repeat;}