<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--选择数据库-->
    <add key="DataBase" value="MSSQL"/>
    <!--配置Desc加密加密-->
    <add key="DESkey" value="dfasfdsfasfdasdfasfddsadfsadfasfdasfdsafsadfsaf"/>
    <!--配置异常处理-->
    <add key="ExceptionReportClass" value="ExceptionManager"/>
    <!--配置开放平台Key值-->
    <add key="appKey" value="21088197"/>
    <add key="appSecret" value="1c178c273e89d4df8c3f535a5caaabf8"/>
    <add key="getToken" value="https://oauth.taobao.com/token"/>
    <!--消息同步开始时间-->
    <add key="SyncStartTime" value="0"/>
    <!--消息同步结束时间-->
    <add key="SyncEndTime" value="6"/>
  </appSettings>
  <connectionStrings>
    <add name="DBMSCONNECTIION" connectionString="Data Source=WHZA012569;Initial Catalog=CTCRM;user id=sa;password=p@ssword01;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>