body {
	background:#fff;
	color:#333;
	font: 12px/22px verdana, arial, sans-serif;
	height:100%;
	margin:0 auto;
	width:100%;
}
img {
	border:0;
}

#container {
	margin:0 auto;
}
#basic-modal {
	background:url(../images/page.png) no-repeat center top;
	height:2600px;
}
